# .gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# Environment variables
.env
.env.*

# Virtual environment
agebot_env/
venv/

# VSCode
.vscode/

# Data, results, models
images/
runs/
data/
models/

# Temporary and document files
*.docx
~$*

# OS-specific
.DS_Store
Thumbs.db